
/*top section media queries*/
@media (min-width: 640px) {
  .top-section-blob {
    width: 40em;
    max-height: 10em;
    top: -16em;
    right: -9em;
    transform: rotate(-25deg);
  }

  .top-section-car {
    height: 16em;
    right: -6em;
    top: -6em;
  }
}

@media (min-width: 1024px) {
  .top-section-blob {
    width: 50em;
    max-height: 30em;
    top: -15em;
    right: -7em;
    transform: rotate(-30deg);
  }

  .top-section-car {
    height: 21em;
    right: -8em;
    top: -5em;
  }
}

@media (min-width: 1200px) {
  .top-section-blob {
    width: 70em;
    max-height: 30em;
    top: -25em;
    right: -15em;
    transform: rotate(-20deg);
  }

  .top-section-car {
    height: 30em;
    right: -12em;
    top: -9em;
  }
}
